ETL-TEST 

This notebook is used to design and test sparkify data model. Please do not use this for anything other than testing.

In [33]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
from time import time
import configparser
import matplotlib.pyplot as plt
import pandas as pd
import os

In [5]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_ENDPOINT=config.get("CLUSTER","HOST")
DWH_DB= config.get("CLUSTER","DB_NAME")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")
DWH_ROLE_ARN= config.get("IAM_ROLE","ARN")

In [7]:

conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

DROP AND CREATE TABLE

In [57]:
%%sql 
DROP TABLE IF EXISTS staging_events;
DROP TABLE IF EXISTS staging_songs;
DROP TABLE IF EXISTS songplays;
DROP TABLE IF EXISTS users;
DROP TABLE IF EXISTS songs;
DROP TABLE IF EXISTS artists;
DROP TABLE IF EXISTS time;

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [11]:
%%sql
CREATE TABLE staging_events 
(
    artist          VARCHAR(300),
    auth            VARCHAR(50),
    first_name      VARCHAR(50),
    gender          VARCHAR(1),
    item_in_session INTEGER, 
    last_name       VARCHAR(50),
    length          DECIMAL(10, 5),
    level           VARCHAR(10),
    location        VARCHAR(300),
    method          VARCHAR(6),
    page            VARCHAR(50),
    registration    DECIMAL(14, 1),
    session_id      INTEGER,
    song            VARCHAR(300),
    status          INTEGER,
    ts              BIGINT,
    user_agent      VARCHAR(150),
    user_id         VARCHAR(10)
)

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [12]:
%%sql
CREATE TABLE staging_songs 
(
    num_songs        INTEGER,
    artist_id        VARCHAR(50), 
    artist_latitude  DECIMAL(10, 5),
    artist_longitude DECIMAL(10, 5),
    artist_location  VARCHAR(300),
    artist_name      VARCHAR(300),
    song_id          VARCHAR(50),
    title            VARCHAR(300),
    duration         DECIMAL(10, 5),
    year             INTEGER
)

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [14]:
%%sql
CREATE TABLE songplays (
    songplay_id INTEGER IDENTITY(0,1) PRIMARY KEY,
    start_time  TIMESTAMP NOT NULL, 
    user_id     VARCHAR(10),
    level       VARCHAR(10),
    song_id     VARCHAR(300) NOT NULL,
    artist_id   VARCHAR(50) NOT NULL,
    session_id  INTEGER,
    location    VARCHAR(300),
    user_agent  VARCHAR(150),
    UNIQUE (start_time, user_id, session_id)
);

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [15]:
%%sql
CREATE TABLE users (
    user_id    VARCHAR(10) PRIMARY KEY,
    first_name VARCHAR(50),
    last_name  VARCHAR(50),
    gender     VARCHAR(1),
    level      VARCHAR(10)
);

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [18]:
%%sql
CREATE TABLE songs (
    song_id   VARCHAR(50) PRIMARY KEY,
    title     VARCHAR(300) NOT NULL,
    artist_id VARCHAR(50),
    year      INTEGER,
    duration  DECIMAL(10, 5) NOT NULL
);

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [19]:
%%sql
CREATE TABLE artists (
    artist_id VARCHAR(50) PRIMARY KEY,
    name      VARCHAR(300) NOT NULL,
    location  VARCHAR(300),
    lattitude DECIMAL(10, 5),
    longitude DECIMAL(10, 5)
);

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [20]:
%%sql
CREATE TABLE time(
    start_time TIMESTAMP PRIMARY KEY,
    hour INTEGER,
    day INTEGER,
    week INTEGER,
    month INTEGER,
    year INTEGER,
    weekday INTEGER
);

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [21]:
staging_events_copy = ("""
COPY staging_events FROM {} 
iam_role {}
FORMAT AS JSON {};
""").format(
    config.get('S3', 'LOG_DATA'), 
    config.get('IAM_ROLE', 'ARN'), 
    config.get('S3', 'LOG_JSONPATH'))
print(staging_events_copy)

COPY staging_events FROM 's3://udacity-dend/log_data'
iam_role 'arn:aws:iam::056264805927:role/dwhRole'
FORMAT AS JSON 's3://udacity-dend/log_json_path.json';

In [22]:
%sql $staging_events_copy

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [30]:
staging_songs_copy = ("""
COPY staging_songs FROM {} 
iam_role {}
FORMAT AS JSON 'auto';
""").format(
    config.get('S3', 'SONG_DATA'), 
    config.get('IAM_ROLE', 'ARN'));
print(staging_songs_copy)
%sql $staging_songs_copy

COPY staging_songs FROM 's3://udacity-dend/song_data'
iam_role 'arn:aws:iam::056264805927:role/dwhRole'
FORMAT AS JSON 'auto';

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [39]:
%%sql
INSERT INTO songplays(start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
SELECT 
    TIMESTAMP 'epoch' + (se.ts / 1000) * interval '1 second',
    se.user_id,
    se.level,
    ss.song_id,
    ss.artist_id,
    se.session_id,
    se.location,
    se.user_agent
FROM staging_events se
INNER JOIN staging_songs ss ON se.song = ss.title AND se.artist = ss.artist_name AND se.length = ss.duration
WHERE se.page = 'NextSong'

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
319 rows affected.

[]

In [41]:
%%sql
INSERT INTO users(user_id, first_name, last_name, gender, level)
SELECT 
    se.user_id,
    se.first_name,
    se.last_name,
    se.gender,
    se.level
FROM staging_events se
WHERE NOT EXISTS (SELECT 1 FROM staging_events se2 WHERE se.user_id = se2.user_id AND se.ts < se2.ts)

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
98 rows affected.

[]

In [45]:
%%sql
INSERT INTO songs(song_id, title, artist_id, year, duration)
SELECT DISTINCT
    ss.song_id,
    ss.title,
    ss.artist_id,
    CASE WHEN ss.year != 0 THEN ss.year ELSE null END AS year,
    ss.duration
FROM staging_songs ss

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
14896 rows affected.

[]

In [52]:
%%sql
INSERT INTO artists(artist_id, name, location, lattitude, longitude)
SELECT 
    artist_id, artist_name, artist_location, artist_latitude, artist_longitude
FROM (
  SELECT
      ss.artist_id,
      ss.artist_name,
      ss.artist_location,
      ss.artist_latitude,
      ss.artist_longitude,
      RANK() OVER(PARTITION BY ss.artist_id ORDER BY ss.year desc) AS rank
  FROM staging_songs ss
)
WHERE rank = 1

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
11270 rows affected.

[]

In [55]:
%%sql
INSERT INTO time(start_time, hour, day, week, month, year, weekday)
SELECT 
    start_time,
    EXTRACT(hour FROM start_time) AS hour,
    EXTRACT(day FROM start_time) AS day,
    EXTRACT(week FROM start_time) AS week,
    EXTRACT(month FROM start_time) AS month,
    EXTRACT(year FROM start_time) AS year,
    EXTRACT(dow FROM start_time) AS weekday
FROM (
  SELECT DISTINCT sp.start_time FROM songplays sp
)

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
319 rows affected.

[]

TEST QUERIES

In [69]:
%%sql
SELECT TOP 2 * FROM time

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(datetime.datetime(2018, 11, 14, 12, 56, 28), 12, 14, 46, 11, 2018, 3),
 (datetime.datetime(2018, 11, 9, 11, 44, 35), 11, 9, 45, 11, 2018, 5)]

In [70]:
%%sql
SELECT TOP 2 * FROM artists

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None),
 ('AR06NFT1187B9B2902', 'The Ike Reilly Assassination', '', None, None)]

In [71]:
%%sql
SELECT TOP 2 * FROM songs

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('SOSNZMS12A58A791D0', 'La Vuelta', 'ARM4J201187B9B8B3B', 1998, Decimal('186.59219')),
 ('SOMLSMH12A6310DF24', 'Building Steam With A Grain Of Salt', 'ARME7101187FB3ECDD', 1996, Decimal('399.07220'))]

In [72]:
%%sql
SELECT TOP 2 * FROM users

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('89', 'Kynnedi', 'Sanchez', 'F', 'free'),
 ('12', 'Austin', 'Rosales', 'M', 'free')]

In [73]:
%%sql
SELECT TOP 2 * FROM songplays

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(44, datetime.datetime(2018, 11, 14, 15, 37, 16), '80', 'paid', 'SOARSZY12A8C140F20', 'ARL7J7C11C8A41747C', 574, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (108, datetime.datetime(2018, 11, 17, 17, 42, 29), '83', 'free', 'SOHTKMO12AB01843B0', 'AR5EYTL1187B98EDA0', 649, 'Lubbock, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [74]:
%%sql
SELECT TOP 2 * FROM staging_songs

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(1, 'AR1S3NH1187B98C2BC', None, None, 'Clarks Town, Jamaica', 'Anthony B', 'SONHGLD12AB0188D47', 'Our Father', Decimal('202.42240'), 1999),
 (1, 'AR1DATU1187B9A5498', None, None, '', 'Patto', 'SONWUSK12AB01837FD', "Sittin' Back Easy", Decimal('222.58893'), 0)]

In [75]:
%%sql
SELECT TOP 2 * FROM staging_events

 * postgresql://dwhuser:***@dwhcluster.crewo3ntppii.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('Maroon 5', 'Logged In', 'Aleena', 'F', 6, 'Kirby', Decimal('173.66158'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', Decimal('1541022995796.0'), 237, 'Harder To Breathe', 200, 1541382480796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44'),
 ('Cyndi Lauper', 'Logged In', 'Aleena', 'F', 14, 'Kirby', Decimal('226.32444'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', Decimal('1541022995796.0'), 237, 'True Colors', 200, 1541384515796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', '44')]